
@font-face {
    font-family: CustomFont1;
    src: url('fonts/khaleefa/Khaleefa.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: CustomFont2;
    src: url('fonts/adelia/adelia.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: CustomFont3;
    src: url('fonts/luofuchun/fonts/luofuchun_roboto.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@layer base {
    span {
        font-family: 'CustomFont2', sans-serif;
        margin: 15px 0;
        opacity: 0.2;
    }
    h1 {
        font-family: CustomFont1;
    }
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --avd-color1: rgb(0, 0, 0);
    --avd-color2: white;
    --avd-color3: rgb(0, 174, 255);
    --avd-color4: black;
    --avd-color5: rgba(128, 128, 128, 0.134);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: CustomFont3;
    user-select: none;
    background: linear-gradient(60deg, rgb(0, 0, 0, 1), rgb(141, 141, 141, 0.8));
    background-size: 800% 800%;
    color: var(--avd-color2);
    animation: txtGrad 10s ease infinite;
}
